<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="88.2.9" targetFramework="net472" />
  <package id="cef.redist.x86" version="88.2.9" targetFramework="net472" />
  <package id="CefSharp.Common" version="88.2.90" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="88.2.90" targetFramework="net472" />
</packages>